@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #04306D;
  --color-lightblue: #E6F0FF;
  --color-primarylight: #0752BA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--manrope) !important;
}
.font-manrope {
  font-family: var(--manrope) !important;
}
.accordion-content {
  overflow: hidden;
}

.accordion-content[data-state="open"] {
  animation: accordion-down 300ms ease-out;
}

.accordion-content[data-state="closed"] {
  animation: accordion-up 300ms ease-out;
}

@keyframes accordion-down {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }

  to {
    height: 0;
    opacity: 0;
  }
}
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.community-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}